<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/public/style.css" />
        <link rel="stylesheet" type="text/css" href="/public/layout.css" />
        <title>CreationP</title>
    </head>
 
    <body>
        <header>
            <a href="/"><h1><img src="public/images/logo.png" alt="logo" />Ma gestion de parking</h1></a>
        </header>
        <hr>
        <nav class="menu">
            <ul>
                <li><a href="/">Accueil</a></li>
            </ul>
        </nav>
        <hr>
        <section class="container">
            <form  action="/creerPark" method="post" class="row" >
            
                <input type="text" name="nom" id="nom" placeholder="nom du parking"/>
                <input type="number" name="nbrPlaceV" id="nbrPlaceV" min="0" placeholder="Le nombre de voitures maximum"/>
                <input type="number" name="nbrPlaceM" id="nbrPlaceM" min="0" placeholder="Le nombre de motos maximum"/>
                <input type="submit" value="Creer"/>            
            </form>
        </section>
       
    </body>
</html>