<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/public/style.css" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <title>Index</title>
    </head>
 
    <body>
        <header>
            <h1><img src="public/images/logo.png" alt="logo" />Ma gestion de parking</h1>     
        </header>
                
        <div>
            <form method="post">
            
                <select name="select" id="select">
                    <% todolist.forEach(function(todo) { %>
                        <option><%= todo %></option>
                    <% }); %>
                </select>
                <input type="submit" value="Selectionner" id="Selectionner"/>
                <input type="submit" value="Modifier" id="Modifier"/>
            
            </form>
            
            <form  action="/creerPark" method="get">
                
                    <input type="submit" value="Creer parking"/>
                
            </form>            
        </div>              

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="public/form.js"></script>
    </body>
</html>