body{
	font-family: "Arial Black", Arial, Verdana, sans-serif;/*police*/
	background: url("images/parking.jpg") no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

div{
	margin:10px;
}

header{
	margin-bottom: 15px;
}

header a, .none{
	text-decoration: none;
}

img{
	float: left;
}

.text{
	text-align: center;
	background-color:rgba(221,221,221,0.5);
	font-size: 1.5em;
	margin:20px auto;
	padding:5px;
	width:50%;
	border-radius: 15px;
}

form 
{
 	padding:10px;
 	width:400px;
 	margin:auto;
 	text-align: center;
 	background-color:rgba(221,221,221,0.5);
 	border-radius: 15px;
 }

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=checkbox] {
    border-radius: 10px/5px 0px;
    height: 15px;
    width: 15px;
    background:#BDD3FF;
    border:1px solid black;
    box-shadow: none;
}

input[type="checkbox"]:checked {
  background: green;
  margin-top:10px;
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

input,  select, option 
{
	font-size: 1.2em;
 	background-color:#BDD3FF;
}

input, select 
{
 	padding:3px;
 	border-radius: 10px/5px 0px;/*arrondi des bordures*/
	box-shadow: 3px 3px 6px black  inset;
 	border:1px solid black;
 	width:80%;
 	margin-top:10px;
}

input[type=submit]{
	 width:40%;
	 box-shadow:1px 1px 1px #525156;
	 cursor:pointer;
	 margin-top:10px;
}

table{
	margin:auto;
	margin-top: 20px;
	border:2px solid black;
	border-collapse: collapse;
	table-layout: fixed;
  	width: 100%;
	text-align: center;
}

thead{
	background-color:white;
}

thead th:nth-child(1){
	width: 20%;
}

thead th:nth-child(2){
	width: 40%;
}

thead th:nth-child(3){
	width: 15%;
}

th{
	border:2px solid black;
	font-size: 1.6em;
	color:rgb(207,60,60);
}

td{
	border:1px solid grey;
}

th, td {
  padding: 20px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(221,221,221);
}

tbody tr:nth-child(even) {
  background-color: #BDD3FF;
}

/*menu*/
.menu li
{
	color:rgb(207,60,60);
	list-style-type: none;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	border:black 1px solid;
	background-color:rgba(221,221,221,0.5);
	border-radius: 10px/5px 0px;/*arrondi des bordures*/
	box-shadow: 3px 3px 6px black;
	padding:2px;
	margin:1px;
}

.menu li:hover
{
	background-color: #BDD3FF;
    box-shadow: 3px 3px 6px cyan;
}